html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}
* {
    box-sizing: border-box;
}
.main {
    width: 100%;
}
/* навигация */
.main-navigation {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    flex-flow: row nowrap;
    z-index: 2;
}
.main-logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 166, 255, 0.856);
    padding: 0;
    margin: 0;
    border: none;
    font-size: 3rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(0, 68, 255, 0.788);
    transition: background-color .5s;
}
.main-logo:hover {
    background-color: rgba(255, 255, 255, 0.925);
    color: rgba(65, 166, 255, 0.856);
    cursor: pointer;
}
.main-navigation__list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    padding: 0;
    margin: 0;
}
.main-navigation__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 166, 255, 0.856);
    font-size: 2rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 .5rem rgba(0, 68, 255, 0.788);
    transition: background-color .5s;
}
.main-navigation__item:hover {
    background-color: rgba(255, 255, 255, 0.925);
    color: rgba(65, 166, 255, 0.856);
    cursor: pointer;
}
/* контент */
.main-field {
    width: 100%;
}
.main-field__wrapper {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5.2rem auto;
}
/* карточки */
.card {
    border-radius: .3rem;
    width: 18%;
    min-width: 16rem;
    height: 25rem;
    margin: .5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(116, 134, 150, 0.699);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.466);
}
.card__photo {
    border-radius: 50%;
    transition: all .5s;
    filter: grayscale(100%);
}
.card:hover {
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.288);
    cursor: pointer;
}
.card:hover .card__photo {
    filter: grayscale(0%);
}
/* футер */
.main-footer {
    grid-area: f;
    background-color: rgba(65, 166, 255, 0.856);
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .5s;
}
.svg-inline--fa {
    transition: all .5s;
    width: 4rem;
    height: 4rem;
}
.svg-inline--fa path {
    fill: rgba(255, 255, 255, 0.932);
}
.footer__contacts {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}
.svg-inline--fa:hover {
    filter: drop-shadow(0 0 .5rem rgba(25, 55, 221, 0.829));
}
.main-footer:hover {
    background-color: rgba(255, 255, 255, 0.932);
}
.main-footer:hover .svg-inline--fa path {
    fill: rgba(65, 166, 255, 0.856);
}





